Unity/RelationSystem/Library/
Unity/RelationSystem/Temp/
RelationSystem/obj/
RelationSystem/bin/
Unity/RelationSystem/RelationSystem.userprefs
Unity/RelationSystem/Assembly-CSharp-vs.csproj
Unity/RelationSystem/Assembly-CSharp.csproj
Unity/RelationSystem/RelationSystem-csharp.sln
Unity/RelationSystem/RelationSystem.sln
Unity/RelationSystem/UnityVS.RelationSystem.v12.suo
Unity/RelationSystem/obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
Unity/RelationSystem/obj/Debug/Assembly-CSharp.dll
Unity/RelationSystem/obj/Debug/Assembly-CSharp.pdb
Unity/RelationSystem/obj/Debug/UnityVS.RelationSystem.CSharp.csproj.FileListAbsolute.txt
Unity/RelationSystem/obj/Debug/UnityVS.RelationSystem.CSharp.csprojResolveAssemblyReference.cache
Unity/People/Library/
Unity/RelationSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Unity/RelationSystem/UnityVS.RelationSystem.CSharp.csproj
